$main-bgc: #000504;
$white-color: #ffffff;
$mint-color: #00fdcf;
// Cyber MASTERS
$card-height: 50vh;
$card-width: calc($card-height / 1.5);
$blue: #12bcb0;
$green: #b4ff06b7;
$yellow: #fabe0e;
$mainBAckColor: #212534;
// Cyber MASTERS
$grey-color: #a1a5ab;
$bgc-grey-color: rgba(234, 231, 242, 0.5019607843137255);
$btn-lg: linear-gradient(270deg, #9961c6 0%, #7b3ea6 36%, #46278f 100%);
$purple-coolor: purple;
$main-font-family: 'Orbitron', sans-serif;
