/* Navigation */
.menuBoxMobile {
  display: block;
  position: fixed;
  text-align: center;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding-top: 20vmin;
  // padding-left: 3vmin;
  list-style: none;
  background-color: #050505be;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  transition: all 0.5s ease;
  a {
    color: azure;
    transition: all 1s ease;
    &:hover,
    &:focus {
      color: rgb(51, 53, 53);
    }
  }
}
.menuItemMobile {
  display: block;
  padding: 1rem 2rem;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 5vmin;
  line-height: 1.4;
  font-weight: 600;
  text-decoration: none;
  transition-duration: 0.25s;
}
.menuItemMobile:hover {
  background-color: #cfd8dc;
}

.navList {
  display: none;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100vw;
  padding: 1rem 2rem;
}

.navListFooter {
  display: flex;
  flex-flow: column;
  // justify-content: space-between;
  padding: 1rem 2rem;
  .item:nth-child(1) {
    display: none;
  }
}
// SPACE
.item:nth-child(1) {
  order: 1;
  flex-shrink: 0;
  display: block;
  // border: 1px solid;
}
// TEAM
.item:nth-child(2) {
  order: 4;
  flex-shrink: 2;
}
// MASTERS
.item:nth-child(3) {
  order: 2;
  flex-shrink: 2;
}
// KIDS
.item:nth-child(4) {
  order: 3;
  flex-shrink: 2;
}
// CONTACTS
.item:nth-child(5) {
  order: 5;
  flex-shrink: 2;
}

.link {
  font-size: calc(100vw / 75 * 3);
  display: inline-block;
  color: white;
  padding: 1rem;
  width: inherit;
  border-bottom: 2px solid transparent;
  transition: all 0.8s;
  // text-transform: capitalize;
}

.link:focus,
.link:hover {
  color: aquamarine;
  border-bottom: 2px solid aquamarine;
}
// @media screen and (min-width: 531px) {
// }
@media screen and (min-width: 768px) {
  .link {
    font-size: 1.8rem;
  }
  .menuBoxMobile {
    display: none;
  }
  .navList {
    display: flex;
  }
}
// .topNav {
//   position: fixed;
//   // width: 100vw;
//   // height: 100vh;
//   // background: white;
//   color: white;
//   top: 0;
//   left: 0;
//   z-index: 1000;
//   padding-top: 4.5em;
//   font-size: 1rem;
//   text-align: left;
//   pointer-events: none;
//   overflow: auto;
//   overflow-x: hidden;
//   transition: display 0s 1s linear;
//   -webkit-overflow-scrolling: touch;
//   @media screen and (min-width: 112.5em) and (min-height: 60em) {
//     font-size: 1rem;
//     padding-top: 15vh;
//   }
//   @media screen and (min-width: 64em) and (min-height: 50evw) {
//     padding-top: 15vh;
//   }
//   .navList {
//     padding: 0;
//     margin: 0 auto 5em;
//     width: 90%;
//     max-width: 62.5em;
//     perspective: 800px;
//     perspective-origin: center 50%;
//     counter-reset: navigation;
//     // display: grid;
//     // grid-template-columns: 1fr 1fr;
//     // grid-gap: 0 2em;
//     // grid-auto-flow: dense;
//     // column-gap: 2em;
//     // column-count: 2;
//     .item {
//       display: flex;
//       flex-wrap: wrap;
//       align-items: flex-start;
//       color: rgb(250, 250, 250);
//       // opacity: 0;
//       padding: 0.5em 0;
//       border-top: 2px solid rgba(0, 5, 4, 0.1);
//       transform: translateY(-110%) rotateX(90deg);
//       transform: translateY(0%) translateZ(-3em);
//       transform-origin: center bottom;
//       transition: transform 0.4s, opacity 0.3s;
//       transition-timing-function: ease-in;
//       @media screen and (min-width: 52em) {
//         align-items: center;
//         position: relative;
//       }
//     }
//     .item:first-child {
//       border-top: none;
//     }
//     .item:nth-child(-n + 4)::after {
//       @media screen and (min-width: 74em) {
//         position: absolute;
//         content: '';
//         left: -1.5rem;
//         width: 2em;
//         height: 2px;
//         background: rgb(139, 173, 236);
//       }
//     }

//     .item:nth-child(-n + 4)::before {
//       @media screen and (min-width: 74em) {
//         position: absolute;
//         content: '0' counter(navigation);
//         left: -2.6rem;
//         top: 1.3em;
//         font-size: 1.625em;
//         font-weight: 400;
//       }
//     }
//     .link {
//       display: block;
//       // visibility: hidden;
//       transition: visbility 0.1s 2s linear;
//       background-color: black;
//       color: rgb(245, 240, 240);
//     }
//   }
//   // &.languages {}
//   .isHidden {
//     // visibility: hidden;
//   }
//   .isOpnedNavi {
//     pointer-events: auto !important;
//   }
// }
