/* body {
  font-family: 'Orbitron', sans-serif;
  background-color: black;
  color: white;
} */
.app-header {
  position: fixed;
  z-index: 99999999999;
  left: 0;
  right: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
}
@import url('//hello.myfonts.net/count/2e2a1f');
@import url('//hello.myfonts.net/count/395005');
html {
  font-size: 100%;
}
@media screen and (min-width: 100em) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 125em) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 150em) {
  html {
    font-size: 135%;
  }
}
