@import url('//hello.myfonts.net/count/2e2a1f');
@import url('//hello.myfonts.net/count/395005');
html {
  font-size: 100%;
}
@media screen and (min-width: 100em) {
  html {
    font-size: 112.5%;
  }
}
@media screen and (min-width: 125em) {
  html {
    font-size: 125%;
  }
}
@media screen and (min-width: 150em) {
  html {
    font-size: 135%;
  }
}
html,
body,
#root {
  height: 100%;
}
body,
#root {
  display: flex;
  flex-direction: column;
}
header,
footer {
  flex: 0 0 auto;
}
main {
  flex: 1 0 auto;
}

.app-header {
  position: fixed;
  z-index: 99999999999;
  left: 0;
  right: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
}
