:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
}
@import '../../styles/variables';
@import '../../styles/mixins';

.gradientColor {
  color: bla;
  font-variation-settings: 'wght' 700;
  background: linear-gradient(135deg, var(--blue) 20%, var(--yellow) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@font-face {
  font-family: 'Anybody';
  src: url('https://assets.codepen.io/1492907/Anybody.woff2') format('woff2');
}

body {
  background: $mainBAckColor;
}

.container {
  margin: auto;
  max-width: 1900px;
  padding: 0 20px;
  justify-content: space-between;
}

.img {
  /* background-image: url(https://images.unsplash.com/photo-1554595666-19ceabf46a84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80); */
  background-color: black;
  /* background-image: url(../../images/logo/colorLogoSign.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 100px;
  background-attachment: fixed;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: #dbd6d6;
  font-weight: 700;
  font-size: 15px;
  font-family: Sans-serif;
  text-decoration: none;
  margin-bottom: 70px;
}
.title1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.title2 {
  color: #1809ee;
  font-family: 'Quicksand', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin: 6rem 0;
}
.title2 span {
  color: #ffee01;
}

.jotformIcon {
  background-image: url('../../images/logo/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

/*  */
.icon1Img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
}

.iconDescription {
  display: block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #000000b3;
  font-weight: 500;
  font-size: 15px;
}

.iconList {
  @include flex-rw;
}

.threeIcon {
  flex: 1;
  padding: 30px;
}

.iconTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-size: calc(100vw / 100 * 3);
  line-height: 1.5;
  margin-top: 20px;
  color: inherit;
}
.threeIcon:nth-child(1) {
  color: $blue;
}
.threeIcon:nth-child(2) {
  color: $green;
}
.threeIcon:nth-child(3) {
  color: $yellow;
}
.page2 {
  text-align: center;
}
.page3 {
  @include flex-rw;

  align-items: center;
  padding: 20px 0;
  background-color: #fbfbfb;
}

.page3Img {
  max-width: 540px;
  width: 100%;
}
.information {
  /* flex: 1;
  padding-left: 70px; */
}
.infoTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.infoAll {
  color: #000000b3;
  margin: 1rem 0;
}
.infoAll p {
  font-size: 1.5rem;
  line-height: 2;
  color: inherit;
}
/* КНОПКИ */
.button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: white;
  font-size: 100%;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
.btnLearnMore {
  composes: button;
  background-color: #292b2c;
  color: white;
}
.btnGetFree {
  composes: button;
  background-color: #292b2c;
  color: white;
  margin-top: 30px;
}

.memberships {
  @include flex-rw;
  align-items: center;
  margin-bottom: 100px;
}

.memTitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.title1,
.title2,
.introduceLink {
  display: block;
  background-color: #1616164f;
}
.introduce {
  @include gradientTextColor($blue, $yellow);
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.introduceSpan {
  text-transform: uppercase;
}

.introduceLink {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-left: 2rem;
  color: #21ddeb;
}
.introduceLink::before {
  content: '';
  display: inline-block;
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(120deg, black, white);
}
/* #1809ee, #ffee01 */
.introduceLink:hover,
.introduceLink:focus {
  color: $blue;
}

.page4 {
  padding: 6rem 0;
}

@media (max-width: 52.5rem) {
  .information {
    padding-left: 0;
    text-align: center;
  }
  .page3Box {
    justify-content: center;
  }
}
