:root {
  --card-height: 50vh;
  --card-width: calc(var(--card-height) / 1.5);
  --blue: #12bcb0;
  --green: #b4ff06b7;
  --yellow: #fabe0e;
}
.gradientColor {
  color: bla;
  font-variation-settings: 'wght' 700;
  background: linear-gradient(135deg, var(--blue) 20%, var(--yellow) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@font-face {
  font-family: 'Anybody';
  src: url('https://assets.codepen.io/1492907/Anybody.woff2') format('woff2');
}

body {
  background: #212534;
}

.container {
  margin: auto;
  max-width: 1900px;
  padding: 0 20px;
  justify-content: space-between;
}

.img {
  /* background-image: url(https://images.unsplash.com/photo-1554595666-19ceabf46a84?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80); */
  background-color: black;
  /* background-image: url(../../images/logo/colorLogoSign.svg); */
  background-size: contain;
  background-repeat: no-repeat;
  padding: 40px 0 100px;
  background-attachment: fixed;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
a {
  color: #dbd6d6;
  font-weight: 700;
  font-size: 15px;
  font-family: Sans-serif;
  text-decoration: none;
  margin-bottom: 70px;
}
.title1 {
  color: white;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.title2 {
  color: #1809ee;
  font-family: 'Quicksand', sans-serif;
  font-size: 7rem;
  font-weight: bold;
  margin: 6rem 0;
}
.title2 span {
  color: #ffee01;
}
.introduce {
  color: #ffffffb3;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5;
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}
.jotformIcon {
  background-image: url('../../images/logo/logo.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

/*  */
/* @function grid($grid-size) {
  @return calc(100vw / 24 * #{$grid-size});
} */

.title3 {
  display: inline-block;
  /* text-align: center; */
  font-family: 'Quicksand', sans-serif;
  font-size: calc(100vw / 50 * 3);
  margin: 4rem auto;
  padding: 0.3em 0.6em;

  filter: url(#distortionFilter);
  composes: gradientColor;
}
.introduceSpan {
  font-size: 2rem;
  composes: gradientColor;
}
.distort {
  position: absolute;
  width: 0;
  height: 0;
  left: -9px;
  pointer-events: none;
}
.title3::selection {
  background: #161616;
  color: #f0f0f0;
}
/*  */
.icon1Img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 120px;
  height: 120px;
}

.iconDescription {
  display: block;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: #000000b3;
  font-weight: 500;
  font-size: 15px;
}
.flex-rw {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.iconList {
  composes: flex-rw;
}
.threeIcon {
  flex: 1;
  padding: 30px;
}

.iconTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-size: calc(100vw / 100 * 3);
  line-height: 1.5;
  margin-top: 20px;
  color: inherit;
}
.threeIcon:nth-child(1) {
  color: var(--blue);
}
.threeIcon:nth-child(2) {
  color: var(--green);
}
.threeIcon:nth-child(3) {
  color: var(--yellow);
}
.page2 {
  text-align: center;
}
.page3 {
  composes: flex-rw;
  align-items: center;
  padding: 20px 0;
  background-color: #fbfbfb;
}

.page3Img {
  max-width: 540px;
  width: 100%;
}
.information {
  /* flex: 1;
  padding-left: 70px; */
}
.infoTitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.infoAll {
  color: #000000b3;
  margin: 1rem 0;
}
.infoAll p {
  font-size: 1.5rem;
  line-height: 2;
  color: inherit;
}
/* КНОПКИ */
.button {
  padding: 12px 17px;
  border-radius: 5px;
  border: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  background-color: white;
  font-size: 100%;
  letter-spacing: 0.5px;
  margin-top: 5px;
}
.btnLearnMore {
  composes: button;
  background-color: #292b2c;
  color: white;
}
.btnGetFree {
  composes: button;
  background-color: #292b2c;
  color: white;
  margin-top: 30px;
}
/*  */
.memberships {
  composes: flex-rw;
  align-items: center;
  margin-bottom: 100px;
}
.memTitle {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

.member {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  padding: 20px;
  margin: 30px;

  width: var(--card-width);
  height: var(--card-height);

  text-align: center;
  font-size: 1.5em;

  background: #191c29;
  color: #abf0f5;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 1.5s;
}

.member:hover,
.member:focus {
  background-color: #abf0f5;
  color: #191c29;
  /* color: red; */
}

.member:hover:before,
.member:hover:after {
  animation: none;
  opacity: 0;
}

.member::before {
  content: '';
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.member::after {
  position: absolute;
  content: '';
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate),
    #5ddcff,
    #3c67e3 43%,
    #4e00c2
  );
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.title1,
.title2,
.introduce span,
.introduceLink {
  display: block;
  background-color: #1616164f;
}

.introduceLink {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 3rem;
  padding-left: 2rem;
  color: #21ddeb;
}
.introduceLink::before {
  content: '';
  display: inline-block;
  margin-right: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-image: linear-gradient(120deg, black, white);
}
/* #1809ee, #ffee01 */
.introduceLink:hover,
.introduceLink:focus {
  color: var(--blue);
}

.page4 {
  padding: 6rem 0;
}

@media (max-width: 52.5rem) {
  .information {
    padding-left: 0;
    text-align: center;
  }
  .page3Box {
    justify-content: center;
  }
}

/*  */
@property --rotate {
  syntax: '<angle>';
  initial-value: 132deg;
  inherits: false;
}
